mixin range-slider({ title = 'Range Slider', prices = {min: '5000', max: '10000'}, separator = ' - ', currency = '₽' }={})
  .range-slider.js-range-slider
    .range-slider__title
      .range-slider__name #{title}
      .range-slider__prices
        span(data-placeholder-type="count-min") #{prices.min}#{currency}
        span= separator
        span(data-placeholder-type="count-max") #{prices.max}#{currency}
    .range-slider__slider.js-range-slider__slider