mixin subscription-text-field(options={})
  -
    const {
      type = 'text',
      name = '',
      placeholder = '',
      iconHref = '/mock-address/change-me',
      iconContent = 'arrow_forward',
      iconTarget,
    } = options;

  label.subscription-text-field
    input.subscription-text-field__input(
      type= type
      name= name
      placeholder= placeholder
    )
    a.subscription-text-field__icon.material-icons(
      href= iconHref
      target= iconTarget
    )= iconContent