include ../rate-button/rate-button.pug

mixin cutaway-room-card({ href = 'room-details.html', number = 888, lux = true, price = '9 990', stars = 5, reviews = 145, sliders = [{src: 'assets/img/rooms/room-888.png', alt: 'room №888'}, {src: 'assets/img/rooms/room-888.png', alt: 'room №888'}, {src: 'assets/img/rooms/room-888.png', alt: 'room №888'}] }={})
  .cutaway-room-card.js-cutaway-room-card
    .cutaway-room-card__slider.js-cutaway-room-card__slider
      each slider in sliders
        img(src= slider.src, alt= slider.alt).cutaway-room-card__slider-item
    a(href= href).cutaway-room-card__info-box
      .cutaway-room-card__title
        p.cutaway-room-card__room-id №!{' '}
          span.cutaway-room-card__room-id-number #{number}
          if lux
            span.cutaway-room-card__lux люкс
        p.cutaway-room-card__price
          span.cutaway-room-card__price-number #{price}₽
          | !{' '}в сутки
      .cutaway-room-card__rating-box
        .cutaway-room-card__rating-box-stars
          +rate-button({
            rating: stars,
            readonly: true
          })
        p.cutaway-room-card__rating-box-reviews
          span.cutaway-room-card__rating-box-reviews-num #{reviews}!{' '}
          | Отзывов

