mixin text-field({ title, list }={})
  .text-field.js-text-field
    if title
      .text-field__title !{title}
    .text-field__labels
      each input in list
        label.text-field__label
          input.text-field__input(
            class= input.isMasked && 'js-text-field__input_masked'
            type=input.type
            name=input.name
            placeholder= input.isMasked ? 'ДД.ММ.ГГГГ' : input.placeholder
            disabled=input.disabled
            readonly=input.readonly
          )
                