mixin text-field(options={})
  -
    const {
      name = '',
      placeholder = '',
      type = 'text',
      disabled = false,
      readonly = false,
      isMasked = false,
    } = options;

  label.text-field.js-text-field
    input.text-field__input(
      class= isMasked && 'js-text-field__input_masked'
      type= type
      name= name
      placeholder= isMasked ? 'ДД.ММ.ГГГГ' : placeholder
      disabled= disabled
      readonly= readonly
    )
                