include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin room-info-card(options={})
  -
    const {
      id = '0',
      priceOfDay = '0',
      discount = '0',
      services = '0',
      currency = '₽',
      isLux = false,
    } = options;

  .room-info-card.js-room-info-card
    .room-info-card__title
      .room-info-card__room-number
        span !{'№ '}
        span.room-info-card__number-id= id
        span.room-info-card__lux-name(class= isLux && 'room-info-card__lux-name_active') люкс
      .room-info-card__room-price
        span(data-placeholder-type="price-per-day")= priceOfDay
        span= currency
        span.room-info-card__price-text !{' '}в сутки
    .room-info-card__dates
      +date-dropdown({ isOpen: false })
    .room-info-card__guests
      span.room-info-card__input-title гости
      +dropdown({
        isOpen: false,
        list: [
          {name: 'взрослые', number: 0},
          {name: 'дети', number: 0},
          {name: 'младенцы', number: 0},
        ]
      })
    table.room-info-card__price-table
      tr.room-info-card__table-row
        td.room-info-card__table-row-name
          span= priceOfDay
          span= currency
          span !{' x '}
          span(data-placeholder-type="period-number") 0
          span !{' суток'}
        td.room-info-card__table-row-price
          span(data-placeholder-type="price-per-period") 0
          span= currency
      tr.room-info-card__table-row
        td.room-info-card__table-row-name
          span Сбор за услуги: скидка!{' '}
          span(data-placeholder-type="discount-main-number")= discount
          span= currency
        td.room-info-card__info-icon i
        td.room-info-card__table-row-price
          span 0
          span= currency
      tr.room-info-card__table-row
        td.room-info-card__table-row-name
          span Сбор за дополнительные услуги
        td.room-info-card__info-icon i
        td.room-info-card__table-row-price
          span(data-placeholder-type="discount-additional-number")= services
          span= currency
    .room-info-card__final-box
      span Итого
      .room-info-card__line-separator
      .room-info-card__final-price
        span(data-placeholder-type="final-price") 0
        span= currency
    .room-info-card__btn-confirm
      +button({
        type: 'long',
        text: 'забронировать',
      })

    
    
      