include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin room-info-card({  }={})
  .room-info-card.js-room-info-card
    .room-info-card__title
      .room-info-card__room-number
        span.room-info-card__separator №!{' '}
        span.room-info-card__number-id.js-room-info-card__id 888
        span.room-info-card__number-lux.js-room-info-card__lux люкс
      .room-info-card__room-price
        span.room-info-card__price-amount.js-room-info-card__price-per-day 9 990
        span.room-info-card__price-currency ₽
        span.room-info-card__price-text !{' '}в сутки
    .room-info-card__dates
      +date-dropdown({
        isOpen: false,
      })
    .room-info-card__guests
      span.room-info-card__input-title гости
      +dropdown({
        isOpenList: false,
        list: [
          {name: 'взрослые', number: 0},
          {name: 'дети', number: 0},
          {name: 'младенцы', number: 0},
        ]
      })
    table.room-info-card__price-table
      tr.room-info-card__table-row.room-info-card__accommodation-price
        td.room-info-card__table-row-name
          span.room-info-card__table-row-amount.js-room-info-card__price 9 990
          span.room-info-card__table-row-currency ₽
          span !{' x '}
          span.room-info-card__table-row-text.room-info-card__table-row-period.js-room-info-card__table-row-period 0
          span !{' суток'}
        td.room-info-card__table-row-price
          span.room-info-card__table-row-amount.js-room-info-card__days-period-price 0
          span.room-info-card__table-row-currency ₽
      tr.room-info-card__table-row.room-info-card__discount-offer-services-first
        td.room-info-card__table-row-name
          span.room-info-card__table-row-text Сбор за услуги: скидка!{' '}
          span.room-info-card__table-row-amount.js-room-info-card__discount 2 179
          span.room-info-card__table-row-currency ₽
        td.room-info-card__info-icon i
        td.room-info-card__table-row-price
          span.room-info-card__table-row-amount 0
          span.room-info-card__table-row-currency ₽
      tr.room-info-card__table-row.room-info-card__discount-offer-services-second
        td.room-info-card__table-row-name
          span.room-info-card__table-row-text Сбор за дополнительные услуги
        td.room-info-card__info-icon i
        td.room-info-card__table-row-price
          span.room-info-card__table-row-amount.js-room-info-card__additional-charges 300
          span.room-info-card__table-row-currency ₽
    .room-info-card__final-box
      span.room-info-card__final-text Итого
      .room-info-card__line-separator
      .room-info-card__final-price
        span.room-info-card__final-amount.js-room-info-card__final-cost 0
        span.room-info-card__price-currency.room-info-card__final-currency ₽
    .room-info-card__btn-confirm
      +button({
        type: 'long',
        text: 'забронировать',
      })

    
    
      