mixin button({  className = 'testMainb', groupName = 'btnDefault', text = 'click me', buttonType = 'submit', icon=false, }={})
    div(class=className)
        .button-link
            if icon
                button.button-link__elem(class='btnLong' type=buttonType) #{text}
                    i.material-icons arrow_forward
            else    
                button.button-link__elem(class=groupName type=buttonType) #{text}