mixin button({ groupName = 'btnDefault', text = 'click me', icon=false, href='#' }={})
    .button-link
        if icon
            a.button-link__elem(href=href class='btnLong') #{text}
                i.material-icons arrow_forward
        else    
            a.button-link__elem(href=href class=groupName) #{text}