mixin button({ groupName = 'btnDefault', text = 'click me', icon=false, href='#', target }={})
    .button-link
        if icon
            a.button-link__elem(href=href target=target class='btnLong') #{text}
                i.material-icons arrow_forward
        else    
            a.button-link__elem(href=href target=target class=groupName) #{text}