mixin pagination({ items, pageSize, pageRange }={})
  .pagination.js-pagination(
    data-items-count= items
    data-page-size= pageSize
    data-page-range= pageRange
  )
    .pagination__body.js-pagination__body
    p.pagination__title
      span(data-placeholder-type="current-min") 1
      span !{' – '}
      span(data-placeholder-type="current-max") 12
      span !{' из '}
      span(data-placeholder-type="count-all") 100+
      span !{' вариантов аренды'}
